PORT=8000
CORS_ORIGIN=*

# MongoDB Connection String (e.g., mongodb+srv://<username>:<password>@cluster.xxxx.mongodb.net/dbname)
MONGO_CONNECTION_STRING=

# Secret key for JWT signing (generate a secure random string)
ACCESS_TOKEN_SECRET=9f2c0c71b7e5459f13e762ad540f9d76a8c77d90e08a3f2c42be4f87adbc24ee39e4e2ec11b1d1174bb50a35fa9e9d8e1e313ffc2e531b0c1d5c48cf455d33484

ACCESS_TOKEN_EXPIRY=1d